<html ng-app="inApp">
<head>
	<title>interpreter.js - Angular.js i18n/l10n</title>
	<link rel="stylesheet" href="style/main.css">
</head>
<body ng-controller="mainCtrl" ng-cloak>
	<!-- header -->
	<div class="header">
		<h1>interpreter</h1>
		<h2>i18n/l10n service for AngularJS</h2>
	</div>

	<!-- horizontal menu component -->
	<hor-menu hor-menu-scope="menuScope"></hor-menu>

	<!-- main content -->
	<div id="content-wrapper">
		<div id="content">

			<!-- splash screen -->
	<!-- 		<div class="splash-wrapper" ng-if="splash">
				<div>
					<h2 ng-click="tryIt();">Try it</h2>
				</div>
			</div> -->

			<!-- set language view -->
			<div class="mainView" ng-show="activeView === 'tryIt'">
				<div class="pure-g">
					<div class="pure-u-1-6">
						lang.en-UK.json
					</div>
			        <div class="pure-u-1-2">
			            <editor content="jsonUk"></editor>
			        </div>
				</div>
				<div class="pure-g">
					<div class="pure-u-1-6">
						lang.el-GR.json
					</div>
			        <div class="pure-u-1-2">
			            <editor content="jsonGr"></editor>
			        </div>
				</div>
			</div>
		</div>
	</div>

	<!-- scripts -->
	<script type="text/javascript" src="script/main.js"></script>
</body>
</html>
