@import (less) './pure-min.css';

@white1: #f3f3f3;
@grey1: #333;
@greenDark: #48695f;

@import './horMenu.less';
@import './editor.less';

@font-face {
	font-family: 'Oxygen';
	src: url(oxygen.300.woff);
}

body, div, p, span {
	margin: 0;
	padding: 0;
	font-family: 'Oxygen';
	color: @grey1;
}

.header {
	text-align: center;
	background: @grey1;
	color: @white1;
	margin: 0 auto;
	padding: 30px 0;
	-webkit-font-smoothing: antialiased;
	height: 140px;
}

#content-wrapper {
	background: @white1;
	color: @grey1;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 236px;
	padding: 50px 15px;
	overflow: auto;

	font-family: 'Oxygen';
}

code {
	margin: 0;
	border: 1px solid @grey1;
	border-radius: 3px;
	white-space: nowrap;
	display: inline-block;
	overflow: auto;
	//font-family: 'Oxygen';
	padding: 2px;
	line-height: 1.3;
	vertical-align: middle;
}

.code {
	background: #fff;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 5px;
}

.splash-wrapper {
	text-align: center;
}
.splash-wrapper h2 {
	border-radius: 4px;
	border: 2px solid @grey1;
	color: @grey1;
	width: 200px;
	margin: 0 auto;
	padding: 20px 0;
	cursor: pointer;
}

.mainView {
	max-width: 980px;
	margin: 0 auto;
}

.pure-g [class*="pure-u"] {
	font-family: 'Oxygen';
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none;
}
